@import "node_modules/bootstrap/scss/bootstrap";

$mainColor: orange;

body {
  background-color: $mainColor;
  color: yellow;
  display: flex;
  justify-content: center;
  h1 {
    color: blue;
  }
}
